<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9613949718902666"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bio Global | Contacto</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    
    <link rel="icon" type="image/png" href="art/logosuperior.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- MAIN HERO BANNER START -->
        <section class="hero-banner">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo" class="logo-bio">
                    <p class="fs-h4 fw-normal">
                        Contacto.
                    </p>
                    <a href="#about" class="btn-bg2 border-round mt-20">
                        Ver Más <i class="bi bi-chevron-compact-right"></i>
                    </a>
                </div>
            </div>
            <!--   <div class="hero-socials">
                <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="mt-a icon-link" aria-label="Seguinos en facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="icon-link mt-10" aria-label="Seguinos en instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank" class="icon-link mt-10" aria-label="Seguinos en linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div> -->
        </section>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" class="float pulse" target="_blank">
        <i class="fa fa-whatsapp my-float "></i>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo">
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio / </a>
                    <a href="blog/blog-1.html">Servicios y Art. / </a>
                    <a href="Efluentes.html">Tratamiento de Efluentes Industriales / </a>
                    <a href="Eficiencia Energetica y Agua.html">Eficiencia Energética y Agua / </a>
                    <a href="Energia Renovable.html">Energia Renovable / </a>
                    <a href="blog/blog.html">SERS / </a>
                    <a href="Contacto.html" class="btn-bg1 border-round">Contacto</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained">
            <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">Ponete en Contacto</h2>
            <div class="row">
                <!-- EMBEDED MAP IFRAME START -->
                <div class="col-balance map-embed">
                    <iframe title="google-map" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=+(Bio%20Global%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- EMBEDED MAP IFRAME END -->

                <!-- CONTACT INFO START -->
                <div class="col-balance">
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Donde estamos?</span>
                    <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-inblock">
                        <i class="bi bi-geo-alt-fill"></i>
                        Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Contacto</span>
                    <a href="mailto:bioglobal.arg@gmail.com" class="display-inblock1">
                        <i class="bi bi-envelope-fill"></i>
                        bioglobal.arg@gmail.com
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-inblock1">
                        <i class="bi bi-telephone-fill"></i>
                        +549 341-5894605
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Seguinos:</span>
                    <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="display-inblock mr-10">
                        <i class="bi bi-facebook"></i>
                        Facebook
                    </a>
                    <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-inblock mr-10">
                        <i class="bi bi-instagram"></i>
                        Instagram
                    </a>
                    <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank"class="display-inblock mr-10">
                        <i class="bi bi-linkedin"></i>
                        Linkedin
                    </a>

    
                    <form action="procesar_formulario.php" method="post" class="message-form mt-50 mb-25">
                        <span class="fs-h4 fc-primary mb-15">Envianos un Mensaje</span>
                        <div class="row mb-20">
                            <input type="text" id="message-name" placeholder="Su Nombre" aria-label="Input for your name" required>
                            <input type="email" class="ml-a" id="message-email" placeholder="Su Email" aria-label="Input for email" required>
                        </div>
                        <input type="text" id="message-subject" aria-label="Input for your message subject" class="mb-20" placeholder="Su Número">
                        <textarea id="message-message" rows="5" placeholder="Su Mensaje" aria-label="Input for writing message"></textarea>
                        <button type="submit" class="btn-bg1 border-round mt-20">Enviar Mensaje</button>
                    </form>
                </div>
                <!-- CONTACT INFO END -->

            </div>
        </section>

    </main>

    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion" style="text-shadow: 1px 1px 1px #a5cda5;">Encuentranos en:</h3>
                <a href="mailto:bioglobal.arg@gmail.com" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    bioglobal.arg@gmail.com
                </a>
                <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +549 341-5894605
                </a>
                <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Instagram 
                </a>
                <a href="https://www.linkedin.com/company/bio-global/posts/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Linkedin
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
             <!-- FOOTER SCHEDULE START -->
             <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Horarios de atención</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes - Viernes
                    <span class="fw-normal display-block">8:00am - 17:00pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabado y Domingo
                    <span class="fw-normal display-block">Cerrado</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Atajos</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="blog/blog-1.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Servicios
                </a>    
                <a href="Efluentes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Tratamiento de Efluentes Industriales 
                </a>    
                <a href="Eficiencia Energetica y Agua.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Eficiencia Energética y Agua
                </a>
                <a href="Energia Renovable.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Energía Renovable
                </a> 
                <a href="blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Sers
                </a>
                <a href="Contacto.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Bio Global - Desing by <a href="https://www.instagram.com/jonatanvila1/">Vila Jonatan </a> </small>
        </div>
    </footer>
    <!-- FOOTER END -->

        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Your site - Copyright 2023</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>