<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9613949718902666"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bio Global | Tratamiento de Efluentes Industiales</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    
    <link rel="icon" type="image/png" href="art/logosuperior.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- MAIN HERO BANNER START -->
        <section class="hero-banner">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo" class="logo-bio">
                    <p class="fs-h4 fw-normal">
                        Tratamiento de Efluentes Industriales.
                    </p>
                    <a href="#eficiencia" class="btn-bg2 border-round mt-20">
                        Ver Más <i class="bi bi-chevron-compact-right"></i>
                    </a>
                </div>
            </div>
            <!--   <div class="hero-socials">
                <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="mt-a icon-link" aria-label="Seguinos en facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="icon-link mt-10" aria-label="Seguinos en instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank" class="icon-link mt-10" aria-label="Seguinos en linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div> -->
        </section>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" class="float pulse" target="_blank">
        <i class="fa fa-whatsapp my-float "></i>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo">
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio / </a>
                    <a href="blog/blog-1.html">Servicios / </a>
                    <a href="Efluentes.html">Tratamiento de Efluentes Industriales / </a>
                    <a href="Eficiencia Energetica y Agua.html">Eficiencia Energética y Agua / </a>
                    <a href="Energia Renovable.html">Energia Renovable / </a>
                    <a href="blog/blog.html">SERS / </a>
                    <a href="Certificaciones.html">Certificaciones</a>
                    <a href="Contacto.html" class="btn-bg1 border-round">Contacto</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- SERVICES START -->
        <section class="contained-eflu" id="eficiencia">
            <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">TRATAMIENTO DE EFLUENTES INDUSTRIALES</h2>
            <div style="width: 65%;" class="col-wide-eflu mlmr-a ta-center">
                <span class="fc-primary fs-h2">
                </span>
                <p>
                    La depuración de los efluentes líquidos es una parte fundamental de la gestión

ambiental en cualquier industria. Debe de ser asumida en su doble faceta de obligación medioambiental con la sociedad y como parte del proceso de producción.

Es por eso que asumimos el compromiso de ayudar y fortalecer el vínculo entre la industria y el medio ambiente para poder sacar el mayor provecho en ambos sectores y trabajar bajo estrictas normas de seguridad.
                </p>
            </div >

            <div style="margin-left: 50px; width: 65%;" >
                <h2 style="text-align: center;" >TRATAMIENTO DE LOS FANGOS</h2>
                <p class="col-wide-eflu mlmr-a ta-center">
                    En todo tratamiento de aguas residuales se producen, junto al agua depurada, una serie de lodos o fangos que deben ser tratados adecuadamente. Según el tipo de tratamiento y la naturaleza de los contaminantes eliminados, serán lodos de naturaleza predominantemente orgánica o inorgánica.
                </p>
                <p>
                    Los objetivos finales buscados en el tratamiento de los lodos son:
                </p>
                <p>
                    <ul>
                        <li><b>Reducción de volumen: </b>Concentración del fango para hacer más fácil su manejo.</li>
                        <li><b>Reducción del poder de fermentación:</b> reducción de materia orgánica y de patógenos, para evitar la producción de olores y la evolución del lodo sin control.</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-wide-eflu" id="fangos">
                        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px; align-items: center;">
                            <div style="flex: 2; padding-right: 20px;">
                                <!-- INDIVIDUAL SERVICES FEATURE START -->
                                <!-- <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev"> -->
                                <p>
                                    <ul>
                                        <p>
                                            Las principales etapas en el tratamiento de los lodos son: <b>espesamiento</b> (concentración) por decantación o flotación, <b>digestión</b> (estabilización para fangos fermentables), <b>deshidratación</b> y <b>evacuación</b>.
                                        </p>
                                <li><b>Espesamiento:</b> reducción de volumen en tanques de sedimentación o flotación, según la naturaleza del fango. A veces se realiza un acondicionamiento previo, de tipo físico-químico (coagulación floculación, elutriación) o térmico.</li>
                                <li><b>Digestión:</b> para fangos de naturaleza orgánica. En procesos de carácter aerobio (similar a fangos activos) o anaerobio (aprovechamiento energético).</li>
                                <li><b>Deshidratación y secado:</b> con el objetivo de una eliminación lo más completa posible del agua del fango. Normalmente con una etapa de acondicionamiento previo.</li>
                                <p >
                                    Los métodos más utilizados son: filtros de vacío, filtros prensa, filtros banda, centrífugas, evaporación térmica o en eras de secado.
                                </p>
                            </ul>
                        </p>
                        <p>
                            <ul>
                                <li><b>Evacuación:</b> depósito o destino final de los lodos.</li>
                            </ul>
                        </p>
                        <p>
                            <b>Métodos principales:</b> vertedero de seguridad o de residuos sólidos urbanos según sus características.
                        </p>
                        <p>
                            Incineración con o sin adición de combustible adicional según el poder calorífico de los lodos, se generan cenizas, escorias y gases que necesitan tratamiento, con o sin recuperación de energía.
                        </p>
                        <p>
                            Compostaje, descomposición biológica controlada, de la materia orgánica, en condiciones aerobias, con el fin de obtener “compost” (abono orgánico).
                        </p>
                        </div>
                            <div class="galeria-fangos">
                                <div class="carrusel">
                                    <div class="carrusel-imagenes">
                                        <img src="art/0f1ebbbf-f4c1-4378-b69f-a9bff14b2a6a.jpg" alt="imagen geotubo" >
                                        <img src="art/31a4bdf3-43a8-4285-9b78-1b812f375deb.jpg" alt="imagen geotubo" >
                                        <img src="art/800f676e-3f58-4a4f-8abf-3efc62332d5a.jpg" alt="imagen geotubo" >
                                        <img src="art/e5dd8450-435b-4620-8917-90d0392e68a4.jpg" alt="imagen geotubo" >
                                    </div>
                                    <button class="prev">←</button>
                                    <button class="next">→</button>
                                </div>                            
                            </div>

                    </div>
                    </div>
                </div>

                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                    <!-- INDIVIDUAL SERVICES FEATURE START -->

                    <!-- INDIVIDUAL SERVICES FEATURE END -->



                    
                </div>
                
                <!-- SERVICES SIDE BAR SHORTCUT LINKS START 
                <div class="col-slim order-tab-1">
                    <div class="card-side card-side-navigation">
                        <h3 class="no-margin ff-damion"><a href="#eficiencia">Tratamiento de Efluentes Industriales</h3></a>
                        <hr>
                        <a href="#fangos">Tratamiento de los Fangos.</a>
                        <a href="#variedad">Variedad de Servicios</a>
                    </div>
                </div> -->
                <!-- SERVICES SIDE BAR SHORTCUT LINKS END -->

               <!-- <section class="bg-primary-foot ta-center">
                    <div class="contained">
                    </div>
                    <div class="contained row flex-just-center">
                        <div class="col-full">
                            <hr>
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-stars fs-h2"></i>
                            <h3 class="mt-10 ff-damion">CAPACITACIÓN DEL PERSONAL TÉCNICO Y ADMINISTRATIVO</h3>
                            <p>
                                Organizamos y desarrollamos jornadas de capacitación a medida de nuestros clientes bajo la modalidad in-company, lo que permitirá no solo incrementar el conocimiento técnico y de procesos, si no que también se construyen las bases que permiten la sustentabilidad de los resultados.
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-diagram-3 fs-h2"></i>
                            <h3 class="mt-10 ff-damion">CONFECCIÓN E IMPLEMENTACIÓN DE TABLEROS DE MONITOREO Y PROCESOS DE GESTIÓN DE KPI</h3>
                            <p>
                                Organizamos y desarrollamos tableros de gestión de indicadores claves y de control, que permitan a nuestros clientes monitorear las variables que impactan en producción y costos, como herramienta de toma de acción inmediata ante desvíos tanto a nivel de operación como jerárquico y Gerencia General. El objetivo es permitir que los resultados de la consultoría tengan continuidad en el tiempo y logren una mejora continua. </p>
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-code-slash fs-h2"></i>
                            <h3 class="mt-10 ff-damion">VALORES</h3>
                            <p>
                                <ul>
                                    <li>Orientación a las industrias</li>
                                    <li>Compromiso con el medio ambiente</li>
                                    <li>Personal Responsable, Expermientado y Comprometido</li>
                                </ul>
        
                            </p>
                        </div>
                    </div>
                </section>
                <section class="bg-primary-foot ta-center">
                    <div class="contained">
                    </div>
                    <div class="contained row flex-just-center">
                        <div class="col-full">
                            <hr>
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-stars fs-h2"></i>
                            <h3 class="mt-10 ff-damion">CAPACITACIÓN DEL PERSONAL TÉCNICO Y ADMINISTRATIVO</h3>
                            <p>
                                Organizamos y desarrollamos jornadas de capacitación a medida de nuestros clientes bajo la modalidad in-company, lo que permitirá no solo incrementar el conocimiento técnico y de procesos, si no que también se construyen las bases que permiten la sustentabilidad de los resultados.
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-diagram-3 fs-h2"></i>
                            <h3 class="mt-10 ff-damion">CONFECCIÓN E IMPLEMENTACIÓN DE TABLEROS DE MONITOREO Y PROCESOS DE GESTIÓN DE KPI</h3>
                            <p>
                                Organizamos y desarrollamos tableros de gestión de indicadores claves y de control, que permitan a nuestros clientes monitorear las variables que impactan en producción y costos, como herramienta de toma de acción inmediata ante desvíos tanto a nivel de operación como jerárquico y Gerencia General. El objetivo es permitir que los resultados de la consultoría tengan continuidad en el tiempo y logren una mejora continua. </p>
                        </div>
                        <div class="col-tri">
                            <i class="bi bi-code-slash fs-h2"></i>
                            <h3 class="mt-10 ff-damion">VALORES</h3>
                            <p>
                                <ul>
                                    <li>Orientación a las industrias</li>
                                    <li>Compromiso con el medio ambiente</li>
                                    <li>Personal Responsable, Expermientado y Comprometido</li>
                                </ul>
        
                            </p>
                        </div>
                    </div>
                </section> -->

            </div>
            
            
        </section>
        <section style="width: 50%;" class="contained row" id="variedad">
                   <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">Servicios</h2>
                   <div style="margin-left: 30px;">
                       <p>
                           A través de nuestra experiencia y trayectoria brindamos una gran variedad de servicios como por ejemplo:
                           <ul>
                               <li>Administración, mantenimiento y manejo de plantas de efluentes.</li>
                               <li>Transporte y movimiento de tierras contaminadas.</li>
                               <li>Centrifugación de barros e inertización.</li>
                               <li>Extracción, transporte, tratamiento y disposición final de residuos.</li>
                               <li>Limpieza en espacios confinados. Venteos y desgasificación.</li>
                               <li>Alquiler de bombas.</li>
                               <li>Desagote de pozos y piletas.</li>
                           </ul>
                   </div>                        
        </section>
        <!-- SERVICES END -->
    </main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion" style="text-shadow: 1px 1px 1px #a5cda5;">Encuentranos en:</h3>
                <a href="mailto:bioglobal.arg@gmail.com" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    bioglobal.arg@gmail.com
                </a>
                <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +549 341-5894605
                </a>
                <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Instagram 
                </a>
                <a href="https://www.linkedin.com/company/bio-global/posts/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Linkedin
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
             <!-- FOOTER SCHEDULE START -->
             <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Horarios de atención</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes - Viernes
                    <span class="fw-normal display-block">8:00am - 17:00pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabado y Domingo
                    <span class="fw-normal display-block">Cerrado</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Atajos</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="blog/blog-1.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Servicios
                </a>    
                <a href="Efluentes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Tratamiento de Efluentes Industriales 
                </a>    
                <a href="Eficiencia Energetica y Agua.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Eficiencia Energética y Agua
                </a>
                <a href="Energia Renovable.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Energía Renovable
                </a> 
                <a href="blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Sers
                </a>
                <a href="../Certificaciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Certificaciones
                </a>
                <a href="Contacto.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Bio Global - Desing by <a href="https://www.instagram.com/jonatanvila1/">Vila Jonatan </a> </small>
        </div>
    </footer>
    <!-- FOOTER END -->

        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Your site - Copyright 2023</small>
        </div>
    </footer>
    <!-- FOOTER END -->
    
</body>
<script>
  const carrusel = document.querySelector('.carrusel-imagenes');
  const images = document.querySelectorAll('.carrusel-imagenes img');
  let index = 0;
  const imageWidth = 500;

  document.querySelector('.next').addEventListener('click', () => {
    index = (index + 1) % images.length;
    carrusel.style.transform = `translateX(-${index * imageWidth}px)`;
  });

  document.querySelector('.prev').addEventListener('click', () => {
    index = (index - 1 + images.length) % images.length;
    carrusel.style.transform = `translateX(-${index * imageWidth}px)`;
  });
</script>

</html>