<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bio Global">
    <DESCRIPTION OF THE PAGE>
    <meta name="description" content="Bio Global">
    
    <KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE >
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <!--meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Bio Global: Especialistas en proyectos de Energías Renovables y sustentabilidad.">
    <meta name="twitter:card" content="summary_large_image"-->
    
<!DOCTYPE html>
<html lang="es">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9613949718902666"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bio Global">
    
    <!-- DESCRIPCIÓN DEL SITIO -->
    <meta name="description" content="Bio Global: Especialistas en proyectos de Energías Renovables y sustentabilidad.">
    
    <!-- PALABRAS CLAVE -->
    <meta name="keywords" content="Energías renovables, sustentabilidad, proyectos, Bio Global, Argentina">

    <!-- METADATOS PARA REDES SOCIALES -->
    <meta property="og:title" content="Bio Global | Energías Renovables">
    <meta property="og:description" content="Bio Global: Proyectos innovadores en Energías Renovables y sustentabilidad en Argentina.">
    <meta property="og:image" content="https://www.bio-global.com.ar/art/logos_trafn_bioglobal.png">
    <meta property="og:url" content="https://www.bio-global.com.ar">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bio Global | Inicio</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    
    <link rel="icon" type="image/png" href="art/logosuperior.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- MAIN HERO BANNER START -->
        <section class="hero-banner">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo" class="logo-bio">
                    <p class="fs-h4 fw-normal">
                        Proyectos sustentables para las industrias: Aprovechamiento de desechos y tratamientos de Agua y Efluentes
                    </p>
                    <a href="#about" class="btn-bg2 border-round mt-20">
                        Ver Más <i class="bi bi-chevron-compact-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" class="float pulse" target="_blank">
        <i class="fa fa-whatsapp my-float "></i>
        <!-- MAIN HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <img src="art/logos_trafn_bioglobal.png" alt="Bio Global logo">
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Inicio / </a>
                    <a href="blog/blog-1.html">Servicios / </a>
                    <a href="Efluentes.html">Tratamiento de Efluentes Industriales / </a>
                    <a href="Eficiencia Energetica y Agua.html">Eficiencia Energética y Agua / </a>
                    <a href="Energia Renovable.html">Energia Renovable / </a>
                    <a href="blog/blog.html">SERS / </a>
                    <a href="Certificaciones.html">Certificaciones</a>
                    <a href="Contacto.html" class="btn-bg1 border-round">Contacto</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- ABOUT SECTION START -->
        <section class="contained row" id="about">
            <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">Sobre Nosotros</h2>
            <div class="col-balance">
                <p>
                    Estamos a la vanguardia de nuevas tecnologías y equipamientos para aplicarlas a nuestra política de constante crecimiento.
Asumimos el compromiso de ayudar y fortalecer el vínculo entre la industria y el medio ambiente para poder sacar el mayor provecho en ambos sectores y trabajar bajo estrictas normas de seguridad.
                </p>
                <p>
                    Ahorro energético, proyecto integral para la aplicación de las energías renovables y tratamientos de efluentes.
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="art/eficiencia-energetica.png" alt="" class="efecto1">
                    <img src="svg/blob.svg" alt="" class="blob">
                    <img src="art/image4.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <!-- ABOUT SECTION END -->

        <!-- PREVIEW SERVICE SECTION START -->
        <section class="bg-primary-foot ta-center">
            <div class="contained">
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                <div class="col-tri">
                    <i class="bi bi-stars fs-h2"></i>
                    <h3 class="mt-10 ff-damion">MISION</h3>
                    <p>
                        Brindarle al sector industrial soluciones acordes al cuidado del medio ambiente para que puedan enmarcarse dentro de las exigencias de los distintos organismos encargados del control de las principales normas y facilitar un mayor compromiso ambiental.
                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-diagram-3 fs-h2"></i>
                    <h3 class="mt-10 ff-damion">VISION</h3>
                    <p>
                        La Visión es ser una empresa de servicios líder, con presencia nacional, que se distinga por proporcionar una calidad de servicio excelente a sus clientes, actuando con un compromiso real entre la industria y el medio ambiente.                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-code-slash fs-h2"></i>
                    <h3 class="mt-10 ff-damion">VALORES</h3>
                    <p>
                        <ul>
                            <li>Orientación a las industrias</li>
                            <li>Compromiso con el medio ambiente</li>
                            <li>Personal Responsable, Expermientado y Comprometido</li>
                        </ul>

                    </p>
                </div>
            </div>
        </section>
        <!-- PREVIEW SERVICE SECTION END -->

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        <section class="subscribe bg-primary-foot" style="background-image: url('art/overlay.webp');">
            <div class="contained row ta-center">
                <div class="col-balance fc-white">
                </div>
                <div class="col-balance">
                    </form>
                </div>
            </div>
        </section>
    </main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Encuentranos en:</h3>
                <a href="mailto:bioglobal.arg@gmail.com" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill" style="color: #A5CD39"></i>
                    bioglobal.arg@gmail.com
                </a>
                <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"  style="color: #A5CD39"></i>
                    +549 341-5894605
                </a>
                <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"  style="color: #A5CD39"></i>
                    Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Instagram 
                </a>
                <a href="https://www.linkedin.com/company/bio-global/posts/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Linkedin
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Horarios de atención</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes - Viernes
                    <span class="fw-normal display-block">8:00am - 17:00pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabado y Domingo
                    <span class="fw-normal display-block">Cerrado</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Atajos</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="blog/blog-1.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Servicios
                </a>    
                <a href="Efluentes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Tratamiento de Efluentes Industriales 
                </a>    
                <a href="Eficiencia Energetica y Agua.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Eficiencia Energética y Agua
                </a>
                <a href="Energia Renovable.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Energía Renovable
                </a> 
                <a href="blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Sers
                </a>
                <a href="Certificaciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Certificaciones
                </a>
                <a href="Contacto.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Bio Global - Desing by <a href="https://www.instagram.com/jonatanvila1/">Vila Jonatan </a> </small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>