<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9613949718902666"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bio Global | SERS</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="../icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/fontstyle.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style2.css">

    <link rel="icon" type="image/png" href="../art/logosuperior.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('../art/orig-banner.png');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <img src="Sers.png" alt="Bio Global logo">
                    <p class="fs-h4 fw-normal">
                        Sistema Ecológico de Restauración de Superficies
                </div>
            </div>
             <!--   <div class="hero-socials">
                <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="mt-a icon-link" aria-label="Seguinos en facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="icon-link mt-10" aria-label="Seguinos en instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank" class="icon-link mt-10" aria-label="Seguinos en linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div> -->
        </section>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" class="float pulse" target="_blank">
        <i class="fa fa-whatsapp my-float "></i>
        
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="../index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <img src="logos_trafn_bioglobal.png" alt="Bio Global logo">
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="../index.html">Inicio / </a>
                    <a href="../blog/blog-1.html">Servicios y Art. / </a>
                    <a href="../Efluentes.html">Tratamiento de Efluentes Industriales / </a>
                    <a href="../Eficiencia Energetica y Agua.html">Eficiencia Energética y Agua / </a>
                    <a href="../Energia Renovable.html">Energia Renovable / </a>
                    <a href="../blog/blog.html">SERS / </a>
                    <a href="../Contacto.html" class="btn-bg1 border-round">Contacto</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->
        <section class="bg-primary-foot ta-center">
            <div class="contained">
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                <div class="col-tri">
                    <i class="bi bi-stars fs-h2"></i>
                    <h3 class="mt-10 ff-damion">SERS</h3>
                    <p>
                        S.E.R.S. resuelve definitivamente el problema ya que actúa sobre la superficie en forma rápida y eficaz eliminando el graffiti y manteniendo la superficie sana. Los solventes y removedores convencionales actúan en el pigmento de la pintura, filtrándose en la superficie por lo que es imposible separar el color del agregado. El sistema convencional de arenado daña gravemente la superficie.
                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-diagram-3 fs-h2"></i>
                    <h3 class="mt-10 ff-damion"></h3>
                    <p>
                        <ul style="text-align: left;">
                            <li> EFECTIVO, RÁPIDO Y ECOLÓGICO.</li>
                            <li> Restauración de Acero Inoxidable (Nuevo en 1 solo paso).</li>
                            <li> Quita todo tipo de óxido.</li>
                            <li> Elimina los olores / hollín / grasas.</li>
                            <li> Mínimos desechos sólidos y solubles con agua.</li>
                            <li> Apto para industrias que posean material inflamable.</li>
                        </ul>   
                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-code-slash fs-h2"></i>
                    <h3 class="mt-10 ff-damion"></h3>
                    <p style="text-align: left;"></p>
                    <p>
                        <ul style="text-align: left;">
                            <li> NO produce chispas.</li>
                            <li> NO genera tóxicos nocivos.</li>
                            <li> Aprobado para la industria alimenticia.</li>
                            <li> Elimina los olores / hollín / grasas.</li>
                            <li> NO utiliza tóxicos nocivos ni solventes peligrosos.</li>
                            <li> Reemplaza el uso de métodos tradicionales (arenado, químicos, hidrolavado).</li>
                        </ul>   
                    </p>
                </div>
            </div>
        </section>

        <!-- BLOGS ENTRY START -->
        <section class="contained">
            <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">TRABAJOS REALIZADOS</h2>
            <p class="ta-center col-wide mlmr-a">
                SISTEMA ECOLÓGICO DE RESTAURACIÓN DE SUPERFICIES
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=786f3a32-7203-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Limpieza de Graffitis</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Los graffitis sobre superficies rugosas como ser piedras, lajas o ladrillos a la vista, se ven como algo imposible de limpiar al igual sobre superficies de cortinas de metal y grandes portones metálicos. Además, los solventes y removedores convencionales, actúan en el pigmento de la pintura, filtrándose en la superficie por lo que es imposible separar el color del agregado.
El equipo de SERS resuelve definitivamente el problema ya que actúa sobre la superficie en forma rápida y eficaz eliminando el graffiti y manteniendo la superficie sana.
                        </p>
                        <a href="blog-1.html" class="ml-10">
                         <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=3d8a156c-7204-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Restauración de Patrimonio Histórico</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Las unidades SERS cuentan con un sistema de abrasión de micro-aire de baja presión que es perfecto para limpiar y restaurar estructuras de edificios delicados, elementos históricos y estatuas. Nuestros sistemas son excelentes para eliminar las incrustaciones de cal de fundaciones, graffiti de edificios o estatuas y daños por incendios u hollín.
El sistema funciona excepcionalmente bien en ladrillo, piedra, mármol, hormigón y madera; cualquier superficie puede limpiarse y restaurarse de forma segura.
                        </p>
                        <a href="blog-1.html" class="ml-10">
                           <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=d165d064-7204-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Residencial</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Las superficies rugosas como piedras, lajas o ladrillos a la vista, se ven como algo imposible de limpiar al igual sobre superficies de cortinas de metal y grandes portones metálicos.
Los sistemas convencionales de arenado, o con implementación de ácidos y químicos dañan gravemente las superficies.

El equipo de SERS resuelve definitivamente el problema ya que actúa sobre la superficie en forma rápida y eficaz eliminando la suciedad e impurezas pero manteniendo la superficie sana a la vez.
                        </p>
                        <a href="blog-1.html" class="ml-10">
                           <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
        </section>
        <section class="contained">
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=6843d6b6-7205-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Tratamiento Post Incendio/Inundación</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Las unidades SERS cuentan con un sistema de abrasión húmeda y sec de micro-aire de baja presión que es perfecto para limpiar y restaurar estructuras de edificios delicados y superficies luego de una siniestro. Nuestros sistemas logran cubrir no solo la restauración superficial sino también eliminar los olores ocasionados por ollín y moho.
El sistema funciona excepcionalmente bien en ladrillo, piedra, mármol, hormigón y madera; cualquier superficie puede limpiarse y restaurarse de forma segura.
                        </p>
                        <a href="blog-1.html" class="ml-10">
                           <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=efc57824-7205-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Naútica</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            El servicio que SERS brinda es indispensable para los profesionales de la industria marina especializados en mantenimiento off-shore, extendiendo la vida útil de los buques marinos y eliminando contaminantes y revestimientos marinos duros de plataformas marinas, plataformas petroleras, barcos industriales, militares y comerciales, transportistas, pasajeros transbordadores y camiones cisterna.

Además de las áreas de limpieza, tales como aceite y grasa en el compartimiento del motor de una embarcación, también es posible eliminar la pintura anti-incrustante en la parte inferior de los barcos, sea grande o pequeño.

Adoptando nuestro proceso, es posible quitar la pintura sin dañar el gel-coat o fibra de vidrio, al igual que restaurar el caucho de embarcaciones tipo gomón sin ocasionar ningún daño a la superficie.
                        </p>
                        <a href="blog-1.html" class="ml-10">
                            <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="350" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=2d79ae4c-7206-11ee-b5be-6595d9b17862"></iframe>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary" style="text-shadow: 1px 1px 1px #3f3e3e;">Automotriz</h3>
                            <p class="ml-a mt-5"></p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Los sistemas de preservación para automóviles ofrecen una solución premier y liviana para la restauración de todo tipo de vehículos ya sean antiguos o modernos.
Se puede restaurar cualquier cosa, desde aviones y trenes históricos hasta tractores, automóviles y motocicletas. Es lo suficientemente potente para los expertos en restauración profesional, ya que el sistema de chorro puede eliminar la pintura y el óxido de prácticamente cualquier superficie sin dañar el material de la superficie original.

La limpieza del motor es muy importante y sus piezas, sumamente delicadas. La ventaja de usar este sistema consiste en que la pintura, la grasa o la capa a remover, se quita en una sola operación, sin dañar la superficie en cuestión, y lista para cualquier tratamiento posterior.

Económico, versátil y seguro para el medio ambiente.

La construcción ligera de aluminio hace que nuestras unidades sean una operación portátil para un solo hombre.

                        </p>
                        <a href="blog-1.html" class="ml-10">
                           <!--   Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                        </a>
                    </article>
                </div>
            </div>
        </section>
        <!-- BLOGS ENTRY END -->
        <section class="contained">
            <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">Ponete en Contacto</h2>
            <div class="row">
                <!-- EMBEDED MAP IFRAME START -->
                <div class="col-balance map-embed">
                    <iframe title="google-map" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=+(Bio%20Global%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- EMBEDED MAP IFRAME END -->

                <!-- CONTACT INFO START -->
                <div class="col-balance">
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Donde estamos?</span>
                    <a href="#" class="display-inblock">
                        <i class="bi bi-geo-alt-fill"></i>
                        Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Contacto</span>
                    <a href="#" class="display-inblock">
                        <i class="bi bi-envelope-fill"></i>
                        bioglobal.arg@gmail.com
                    </a>
                    <a href="#" class="display-inblock">
                        <i class="bi bi-telephone-fill"></i>
                        +549 341-5894605
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Seguinos:</span>
                    <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="display-inblock mr-10">
                        <i class="bi bi-facebook"></i>
                        Facebook
                    </a>
                    <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-inblock mr-10">
                        <i class="bi bi-instagram"></i>
                        Instagram
                    </a>
                    <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank"class="display-inblock mr-10">
                        <i class="bi bi-linkedin"></i>
                        Linkedin
                    </a>

    
                    <form action="#" class="message-form mt-50 mb-25">
                        <span class="fs-h4 fc-primary mb-15">Envianos un Mensaje</span>
                        <div class="row mb-20">
                            <input type="text" id="message-name" placeholder="Su Nombre" aria-label="Input for your name" required>
                            <input type="email" class="ml-a" id="message-email" placeholder="Su Email" aria-label="Input for email" required>
                        </div>
                        <input type="text" id="message-subject" aria-label="Input for your message subject" class="mb-20" placeholder="Su Número">
                        <textarea id="message-message" rows="5" placeholder="Su Mensaje" aria-label="Input for writing message"></textarea>
                        <button type="submit" class="btn-bg1 border-round mt-20">Enviar Mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion" style="text-shadow: 1px 1px 1px #a5cda5;">Encuentranos en:</h3>
                <a href="mailto:bioglobal.arg@gmail.com" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    bioglobal.arg@gmail.com
                </a>
                <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +549 341-5894605
                </a>
                <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Instagram 
                </a>
                <a href="https://www.linkedin.com/company/bio-global/posts/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Linkedin
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Horarios de atención</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes - Viernes
                    <span class="fw-normal display-block">8:00am - 17:00pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabado y Domingo
                    <span class="fw-normal display-block">Cerrado</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Atajos</h3>
                <a href="../index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="../blog/blog-1.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Servicios
                </a>    
                <a href="../Efluentes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Tratamiento de Efluentes Industriales 
                </a>    
                <a href="../Eficiencia Energetica y Agua.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Eficiencia Energética y Agua
                </a>
                <a href="../Energia Renovable.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Energía Renovable
                </a> 
                <a href="../blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Sers
                </a>
                <a href="../Contacto.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Bio Global - Desing by <a href="https://www.instagram.com/jonatanvila1/">Vila Jonatan </a> </small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>