<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9613949718902666"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bio Global | Servicios</title>

    <link rel="preload" href="../icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="../css/fontstyle.css" as="style">
    <link rel="preload" href="../css/layout.css" as="style">
    <link rel="preload" href="../css/animation.css" as="style">
    <link rel="preload" href="../css/style.css" as="style">

    <link rel="stylesheet" href="../icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/fontstyle.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style2.css">

    <link rel="icon" type="image/png" href="../art/logosuperior.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('../art/work2.webp');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <img src="logos_trafn_bioglobal copy.png" alt="Logeco Logo" class="logo-bio">
                    <a href="../index.html" class="fc-white">
                        Colaboración con empresas de Gestión Ambiental Industrias
                    </a>
                </div>
            </div>
         <!--   <div class="hero-socials">
                <a href="https://www.facebook.com/profile.php?id=61551471876930" target="_blank" class="mt-a icon-link" aria-label="Seguinos en facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="icon-link mt-10" aria-label="Seguinos en instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/16162533/admin/feed/posts/?feedType=following" target="_blank" class="icon-link mt-10" aria-label="Seguinos en linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div> -->
        </section>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" class="float pulse" target="_blank">
        <i class="fa fa-whatsapp my-float "></i>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="../index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <img src="logos_trafn_bioglobal.png" alt="Bio Global logo">
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="../index.html">Inicio / </a>
                    <a href="../blog/blog-1.html">Servicios / </a>  
                    <a href="../Efluentes.html">Tratamiento de Efluentes Industriales / </a>                
                    <a href="../Eficiencia Energetica y Agua.html">Eficiencia Energética y Agua / </a>
                    <a href="../Energia Renovable.html">Energia Renovable / </a>
                    <a href="../blog/blog.html">SERS / </a>
                    <a href="../Certificaciones.html">Certificaciones</a>
                    <a href="../Contacto.html" class="btn-bg1 border-round">Contacto</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->
        <section class="bg-primary-foot ta-center">
            <div class="contained row flex-just-center">
                    <p>
                        Nos especializamos en ofrecer soluciones integrales a diferentes organizaciones y empresas industriales comprometidas con el desarrollo sostenible. Nuestra propuesta combina asesoramiento, suministro de insumos y prestación de servicios diseñados para optimizar el uso de recursos y minimizar el impacto ambiental.
                        Desde estrategias de recuperación de agua hasta la implementación de tecnologías ecoeficientes, trabajamos para brindar herramientas innovadoras que impulsen un equilibrio entre productividad y sostenibilidad. Descubre cómo podemos ayudar a tu empresa a cumplir con sus objetivos ambientales con soluciones a medida.
                    </p>
        </section>
        <!-- BLOGS ENTRY START -->
        <section class="contained">
           <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">SERVICIOS PARA LAGUNAS</h2>
           <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
            Batimetría y caracterización de lodos en Lagunas 
           </h2>
           <p class="col-full" style="margin-top: 0; padding-top: 0;">
            Estudio fundamental para la gestión y mantenimiento de cuerpos de agua. La batimetría permite medir con precisión la altura del lodo acumulado en lagunas, estanques y otros reservorios. Proporcionando información clave para su correcto manejo.
           </p>
           <!--
           <video controls class="img-unheight" style="width: 100%; max-height: 250px; max-height: 500px;">
            <source src="VIDEO DE PASOS.mp4" type="video/mp4">
          </video>
           -->
          <iframe  style="width: 100%; max-height: 250px; max-height: 500px;" width="560" height="700" src="https://www.youtube.com/embed/QC17FVaOPhs?si=8ziEKt8xdIPiMqg1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <h4 class="col-wide">
            ¿Cómo funciona la batimetría?
          </h4>
            <p class="col-full">
                Mediante el uso de tecnología avanzada, realizamos un análisis detallado del fondo de la laguna, generando un Mapa Batimétrico, una representación visual en la que se identifican las profundidades y los niveles de sedimentación. Esta información es esencial para:
            </p>
            <ul>
                <li>Optimizar el mantenimiento y limpieza de lagunas.</li>
                <li>Monitoreo de volúmenes de lodos. </li>
                <li>Evaluar la capacidad real del cuerpo del agua. </li>
                <li>Diseñar estrategias de recuperación y mejora ambiental. </li>
            </ul>            
          </p>
          <p class="col-full">Con nuestros servicios de batimetría, ayudamos a empresas e industrias a tomar decisiones adecuadas sobre la gestión del agua, asegurando un equilibrio entre eficiencia y sostenibilidad.</p>
          <h4 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
          Dragado de lodos en lagunas, mediante sistema de Geotubos.
        </h4>
        <p class="col-full" style="margin-top: 0; padding-top: 0;">
            El sistema de geotubos permite la extracción y deshidratación eficiente de lodos en lagunas, optimizando la recuperación de cuerpos de agua y minimizando el impacto ambiental. A través de una tecnología sostenible y de alto rendimiento, garantizamos una solución segura y eficaz para la gestión de residuos, mejorando la calidad del agua y prolongando la vida útil de los ecosistemas acuáticos.
          </P>
          <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
            <div class="col-tri">
                <article class="card-blog">
                    <iframe frameborder="0" class="juxtapose" width="100%" height="300" 
                    src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=ad062c02-74d7-11ee-b5be-6595d9b17862"></iframe>
                    <p class="ml-a mt-5"></p>
                </article>
            </div>
            <p class="ml-10 mt-5 mb-20">
                <a href="blog-1.html" class="ml-10">
                    <!-- Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                </a>
            </p>
        </div>
        
        <h4 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
           Limpieza superficial de vegetales en lagunas.
          </h4>
          <p class="col-full" style="margin-top: 0; padding-top: 0;">
            Eliminamos la acumulación de vegetación flotante y materia orgánica en lagunas para mejorar la calidad del agua y restaurar el equilibrio ecológico. Nuestro método eficiente y sostenible permite controlar el crecimiento excesivo de plantas acuáticas, optimizando la oxigenación y el flujo del agua, y previniendo problemas de eutrofización.
            </P>
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
                <div class="col-tri">
                    <article class="card-blog">
                        <iframe frameborder="0" class="juxtapose" width="100%" height="300" 
                        src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=c6b41ffc-74d6-11ee-b5be-6595d9b17862"></iframe>
                        <p class="ml-a mt-5"></p>
                    </article>
                </div>
                <p class="ml-10 mt-5 mb-20">
                    <a href="blog-1.html" class="ml-10">
                        <!-- Ver Más <i class="bi bi-box-arrow-up-right"></i> -->
                    </a>
                </p>
            </div>
            
            <h4 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
                Instalación de geomembranas para estanques y lagunas.
            </h4>
            <p class="col-full" style="margin-top: 0; padding-top: 0;">
                Las geomembranas permiten impermeabilizar y evitar filtraciones de agua, lo que ayuda a mantener el nivel adecuado del agua en estos cuerpos. Son ideales para proyectos de retención de agua, ya sea para la conservación de desechos, como por ejemplo, lodo (NOSE el control de inundaciones o la creación de hábitats acuáticos). Además, protegen el entorno natural al prevenir la contaminación del suelo y el agua circundante, ofreciendo una solución duradera y resistente a condiciones climáticas adversas.
            </p>
            
                 <!-- <video controls class="img-unheight" style="width: 100%; max-height: 250px; max-height: 500px;">
                    <source src="Terminadobioglobalahorasi.mp4" type="video/mp4">
                  </video> -->
                  <iframe style="width: 100%; max-height: 250px; max-height: 500px;" width="560" height="700" src="https://www.youtube.com/embed/oU0zM6Dui14?si=HtPaHjke-o68_50o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </section>
       <section class="contained">
        <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">SERVICIOS DE PLANTAS DE EFLUENTES </h2>
        <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
         Servicios y operación de plantas de efluentes
        </h2>
        <p class="col-full" style="margin-top: 0; padding-top: 0;">
            La operación diaria de plantas de efluentes, asegurando un tratamiento eficiente y seguro. Nuestro equipo técnico monitorea cada proceso en tiempo real, optimizando el rendimiento y garantizando el cumplimiento de las normativas ambientales. Implementamos tecnología avanzada para minimizar el impacto y maximizar la sostenibilidad, brindando soluciones confiables para la gestión del agua industrial.
        </p>
        <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
            Tratamientos de barros y lodos
           </h2>
           <p class="col-full" style="margin-top: 0; padding-top: 0;">
            Ofrecemos soluciones integrales para el tratamiento de barros y lodos generados en plantas de efluentes, asegurando su correcta estabilización. Nuestro enfoque garantiza eficiencia operativa y cumplimiento con las normativas vigentes, contribuyendo a una gestión más sustentable de los residuos industriales.
           </p>
           <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
            Manejo, traslado y disposición de residuos
           </h2>
           <p class="col-full" style="margin-top: 0; padding-top: 0;">
            El traslado de residuos de categorías 1 y 2 exige un manejo cuidadoso y un transporte especializado para prevenir cualquier impacto negativo. Garantizamos que los residuos peligrosos sean transportados de manera segura, utilizando equipos adecuados y procedimientos conforme a las normativas vigentes, minimizando riesgos y gastos de la industria. Además nos aseguramos la correcta disposición final.
           </p>
    </section>
    <section class="contained">
        <h3 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">SERVICIO DE APROVECHAMIENTO SUBPRODUCTOS
            <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
         Aprovechamiento y transformación de residuos
        </h2>
        <p class="col-full" style="margin-top: 0; padding-top: 0;">
            Trabajamos para transformar los residuos industriales en recursos valiosos a través de procesos innovadores de aprovechamiento y reciclaje. Nuestro enfoque se basa en maximizar la reutilización de los subproductos generados, convirtiéndolos en materia para nuevas aplicaciones, lo que contribuye significativamente a la reducción de residuos.
        </p>
           <p class="col-full">
            Además de minimizar el impacto ambiental, buscamos generar soluciones sostenibles que permitan a las empresas optimizar sus procesos, reducir costos y contribuir al cuidado del planeta. </p>
           <p class="col-full">
            No solo reduce la cantidad de desechos generados, sino que también fomenta la economía circular, optimizando los procesos productivos y creando nuevas oportunidades para el uso de materiales previamente desechados.
           </p>
    </section>
    <section class="contained">
        <h2 class="section-title ff-damion" style="text-shadow: 1px 1px 1px #3f3e3e;">ARTÍCULOS </h2>
        <h2 class="col-wide" style="margin-bottom: 0; padding-bottom: 0;">
         Geotubos textiles de deshidratación
        </h2>
        <p class="col-full" style="margin-top: 0; padding-top: 0;">
            Los geotubos son estructuras fabricadas con materiales geotextiles que se utilizan principalmente para la retención, deshidratación y tratamiento de lodos y efluentes en proyectos ambientales. Su función principal es actuar como una barrera filtrante, permitiendo que los líquidos pasen a través del material, mientras retienen sólidos. Además, su capacidad para reducir el volumen de los lodos mediante deshidratación contribuye a la disminución de los costos de disposición y mejora la eficiencia en el manejo de residuos. Esto los convierte en una herramienta clave para los proyectos.Polímeros Aniónicas y Catiónicas (Poliacrilamidas).
        </p>
        <ul>
            <li>
                Policloruro de aluminio (PAC)
            </li>
            <li>
                Barrera de contención marinas (Contención de algas)
            </li>
            <li>
                Coagulantes Orgánicos
            </li>
            <li>
                Geoformas
            </li>
            <li>
                Antiespumantes
            </li>
            <li>
               Enmascarador de olores
            </li>
        </ul>
        <img src="hero5.jpg" alt="imagen geotubo" style="display: block; margin: 0 auto; width: 75%; height: auto;">


    </section>

       <!--    <img src="hero5.jpg" alt="" class="img-unheight">

                 BLOG DETAIL 
                <div class="row fc-primary fw-bold">
                    <a href="#comments" class="fc-primary" aria-label="A link to comment section">
                    </a>
                </div> 
                <!-- BLOG TITLE & CONTENT 
                 <p>
                    
                 </p>
                 <!-- BLOG THUMBNAIL 
                        <video controls class="img-unheight" style="width: 100%; max-height: 300px; max-height: 500px;">
                            <source src="../blog/Terminadobioglobalahorasi.mp4" type="video/mp4">
                          </video> -->  
            </div>
        </section>


      <!--  <section class="row contained">
            <div class="col-wide">
                 BLOG THUMBNAIL 
                <img src="airsent.png" alt="" class="img-unheight">

                 BLOG DETAIL
                <div class="row fc-primary fw-bold">
                    <a href="#comments" class="fc-primary" aria-label="A link to comment section">
                    </a>
                </div>

                 BLOG TITLE & CONTENT -->
              <!--  <h2>SISTEMA DE NEUTRALIZACIÓN DE OLORES POR AIRE</h2>
                <p>
                    Ideal para el control de olores provenientes de:
                    <ul>
                        <li>Centro de transborde de materias primas animal.</li>
                        <li>Centro de clasificación de basura a cielo abierto.</li>
                        <li>Zonas de vertedero de barros.</li>
                        <li>Piletas de decantación de aguas residuales.</li>
                        <li>Centro de clasificación de basuras en depósitos.</li>
                        <li>Otras dependiendo la necesidad del cliente.</li>
                    </ul>            
                </p>
                <p>
                    Ventajas del sistema AIRSENT:
                    <ul>
                        <li>Instalación de acuerdo a la necesidad sitio.</li>
                        <li>Bajo costo de uso.</li>
                        <li>Sin consumo de agua.</li>
                        <li>Sin mantenimiento solo control del producto.</li>
                        <li>Facil de usar.</li>
                        <li>Operación de 4 estaciones.</li>
                        <li>Instalación exterior o interior.</li>
                    </ul>            
                </p>
            </div>
            <div class="col-slim">
                <div class="card-side">
                     SIDE NAVIGATION OTHER BLOGS
                    <span class="fs-h3 ff-damion">OTROS SERVICIOS</span>
                    <hr>
                    <a href="#difusores" class="card-post">
                        <img src="Difusor1.png" alt="">
                        <div class="info">
                            <p class="no-margin fw-bold">Difusores</p>
                        </div>
                    </a>
                    <a href="#tornillo" class="card-post">
                        <img src="tornillo1.png" alt="">
                        <div class="info">
                            <p class="no-margin fw-bold">Tornillo Deshidratador</p>
                        </div>
                    </a>
                    <a href="#tanques" class="card-post">
                        <img src="tanqueflotante1.png" alt="">
                        <div class="info">
                            <p class="no-margin fw-bold">Tanques Flexibles</p>
                        </div>
                    </a>
                </div> -->
        <!-- BLOGS ENTRY END -->
        <!-- <section class="contained row" id="energia">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Barreras de contención flotantes</h2>
            <div class="col-balance">
                <p>
                    Barreras de contención de aceites, petróleo, algas, cianobacterias y flotantes.
Desarrollamos productos a medida para atender un amplio rango de aplicaciones.
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Barrera1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Barrera2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section> -->

        <!-- <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Skimmers de disco</h2>
            <div class="col-balance">
                <p>
                    Skimmers para extracción de grasas, diferentes tipos de aceites e hidrocarburos livianos y
pesados. Con alta eficiencia en la extracción. Contenido de agua en producto extraído
cerca de un 3%.
El hidrocarbono extraído con este sistema de skimmer tiene un porcentaje de agua muy
bajo, lo que lo vuelve muy eficiente (Alrededor de un 3% de humedad).
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Skimmer1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Skimmer2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section> -->

        
        <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Skimmers de tubo</h2>
            <div class="col-balance">
                <p>
                    Skimmers para extracción de grasas, diferentes tipos de aceites e hidrocarburos livianos y
pesados. Con alta eficiencia en la extracción. Contenido de agua en producto extraído
cerca de un 3%.
El hidrocarbono extraído con este sistema de skimmer tiene un porcentaje de agua muy
bajo, lo que lo vuelve muy eficiente (Alrededor de un 3% de humedad).
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="tubo1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="tubo2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <!-- <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Mangueras</h2>
            <div class="col-balance">
                <p>
                 Proveemos mangueras de uso industrial de distintos materiales y altas exigencias.
                 <ul>
                    <li>PVC:
                        La manguera de gran diámetro de 250 mm, 300 mm, 350 mm, 400 mm es ideal para usar
como manguera de drenaje en situaciones de emergencia / río / dragado / inundación /
desastre cuando se deben mover grandes cantidades de agua rápidamente.
                    </li>
                    <li>PVC-NBR:
                        Adecuado para su uso y recomendado para aplicaciones industriales, agrícolas y mineras:
Deshidratación y operaciones, distribución de purines y estiércol como fertilizante,
combustible, aceite y transferencia química.
                    </li>
                    <li>TPU:
                        Agricultura y minería, transporte de materiales abrasivos, tubería flexible incluso en terrenos
extremos de riego y eliminación de lodos, manguera de suministro para sistemas de
inyección de lodo y estiércol líquido, Para servicio pesado en las condiciones más
difíciles, se recomienda 4 '' 6 '' para soluciones de transferencia de estiércol.
                    </li>
                 </ul>
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="tpu.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="pvc.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section> -->

        <section class="contained row" id="tanques">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Tanques flexibles</h2>
            <div class="col-balance">
                <p>
                    Proveemos de tanques flexibles para contención de agua, agroquímicos, fertilizantes,
                    efluentes (Biodigestores - Biogás), Grado Alimenticio, Cría de peces, entre otros.
                 <ul>
                    <li>Materiales:
                        PVC - TPU - PE
                    </li>
                    <li>Capacidades:
                        Desde 2.000 a 200.000 litros
                    </li>
                    <li>Vida Útil:
                        desde 5 a 12 años de acuerdo al material solicitado
                    </li>
                 </ul>
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="tanqueflotante1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Tanqueflotante2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="bomba1">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Bombas centrífugas autocebantes y verticales</h2>
            <div class="col-balance">
                <p>
                    LT La bomba para aguas residuales autocebante sin obstrucciones de la serie es el
estándar para aplicaciones industriales y de aguas residuales. Estas bombas cuentan con un diseño que les permite volver a cebar automáticamente en un sistema
completamente abierto sin la necesidad de válvulas de retención, de succión o de
descarga, y pueden hacerlo con la carcasa de la bomba parcialmente llena de líquido y una línea de succión completamente seca.
                <p>
                    Datos técnicos
                </p>
                 <ul>
                    <li>Tamaños: 2’’ , 3’’ , 4’’ , 6’’, 8’’ , 10’’ , 12’’ Pulgadas.</li>
                    <li>Max. Capacidad: 1275 m³ / h</li>
                    <li>Max. Head: 75 m</li>
                    <li>Max. Pasaje de sólidos: 3¨ (76,2 mm)</li>
                    <li>Max. Temperatura: 71 ° C </li>
                    <li>Material de construcción: Hierro fundido gris, HT200, SS304, SS316, SS316L</li>
                 </ul>
                 <p>
                    Aplicación
                 </p>
                <ul>
                    <li>Tratamiento de agua en la industria.</li>
                    <li>Tratamiento de agua en estación.</li>
                    <li>Deshidratación minera.</li>
                    <li>Eliminación de aguas residuales.</li>
                    <li>Lucha contra incendios.</li>
                    <li>Irrigación agrícola.</li>
                    <li>Suministro de agua.</li>
                    <li>Lastre marino.</li>
                </ul>
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="bomba2.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="bomba1.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Bombas de diafragma</h2>
            <div class="col-balance">
                <p>
                    Se cuenta con una amplia gama de opciones de materiales para cada aplicación. PP,
                    Aluminio, Teflon, Santopreno, PVDF , Acero inoxidable, EPDM , Viton, etc.
                 <ul>
                    <li>Contamos con modelo que permite el pasaje de sólidos de hasta 35mm.</li>
                    <li>Caudales máx. y mín. : 27 - 1060</li>
                    <li>Cuenta con ATEX: certificado no explosivo</li>
                 </ul>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="bombaa1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="bombaaa2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        
        <!-- <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Productos químicos para tratamientos de efluentes</h2>
            <div class="col-balance">
                <p>
                    Comercializamos diversos productos químicos para el tratamiento de efluentes de
varias industrias.
                <p>
                    Entre estos productos contamos con: 
                </p>
                 <ul>
                    <li>Polímeros Catiónicos y aniónicos.</li>
                    <li>Coagulantes orgánicos.</li>
                    <li>PAC ( Policloruro de aluminio).</li>
                    <li>Enmascarador de olor.</li>
                    <li>Desemulsionantes.</li>
                    <li>Decolorantes.</li>
                 </ul>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="tratamiento1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="tratamiento2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section> -->

        <section class="contained row" id="aireador">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Aireadores de aspiración</h2>
            <div class="col-balance">
                <p>
                    El aireador de aspiración es eficiente para ser instalado en tanques de aireación,
cuencas, lagunas aireadas, ríos y/o canales, para aguas residuales municipales e
industriales.
                <p>
                    Sectores de aplicación
                </p>
                 <ul>
                    <li>Aguas residuales.</li>
                    <li>Procesos de residuos.</li>
                    <li>Cría de peces, lagos de pesca.</li>
                 </ul>
                 <P>
                    Especificaciones generales
                    <ul>
                        <li>Aireación de 3 a 44,7kg 02/hr.</li>
                        <li>Potencia de 2 a 30 Hp.</li>
                    </ul>
                 </P>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Aireador1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Aireador2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="difusores">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Difusores</h2>
            <div class="col-balance">
                <p>
                    Los difusores pueden dispersar la burbuja de aire en un patrón extremadamente fino y
                    uniforme para una alta eficiencia de transferencia de oxígeno. Las membranas están
                    fabricadas con material EPDM de primera calidad y están disponibles con perforación
                    de burbuja fina o gruesa. 
                <p>
                   Características
                </p>
                 <ul>
                    <li>Baja pérdida de resistencia.</li>
                    <li>Alta resistencia al desgarro.</li>
                    <li>Anti-obstrucción.</li>
                    <li>Anti-reflujo.</li>
                    <li>Resistente al envejecimiento, anticorrosión.</li>
                    <li>Alta eficiencia, ahorro de energía.</li>
                    <li>Alta eficiencia de transferencia de oxígeno.</li>
                    <li>Bajo costo.</li>
                    <li>Anti Obstrucción, resistente a la corrosión.</li>
                    <li>Facilidad de instalación.</li>
                    <li>Diseño sin mantenimiento, 8 años de vida útil.</li>
                 </ul>
                 <P>
                    Aplicaciones
                    <ul>
                        <li>Tratamiento de aguas residuales municipales.</li>
                        <li>Tratamiento de aguas residuales industriales.</li>
                        <li>Tratamiento de agua limpia.</li>
                        <li>Estabilización de lodos.</li>
                        <li>Difusión de ozono en aguas residuales.</li>
                        <li>Aireación de estanques de peces.</li>
                        <li>Aireación de arroyos y lagos.</li>
                    </ul>
                 </P>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Difusor1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Difusor2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="tornillo">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Tornillo deshidratador de lodos</h2>
            <div class="col-balance">
                <p>
                <p>
                   Características
                </p>
                 <ul>
                    <li>Deshidratación de lodos biológicos provenientes
                        de plantas de tratamiento de lodos activados, SBR, aireación prolongada u otra modalidad.</li>
                    <li>Deshidratación de lodos de limpieza de tanques.</li>
                    <li>• Lodos o corrientes líquidas con sólidos que se requieran separar.</li>
                    <li>Económico.</li>
                    <li>Eficaz.</li>
                    <li>Bajo mantenimiento.</li>
                    <li>Bajo consumo de energía.</li>
                    <li>Reduce el costo de inversiónen infraestructura y mejora los resultados del tratamiento.</li>
                 </ul>
                 <P>
                    Usos
                    <ul>
                        <li>Frigoríficos.</li>
                        <li>Indutrias Lácteas.</li>
                        <li>Plantas de tratamiento de lodo activado.</li>
                        <li>Plantas de tratamiento físico-químico.</li>
                    </ul>
                 </P>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="tornillo1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Tornillo2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="geomalla">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Geomalla</h2>
            <div class="col-balance">
                <p>
                <p>
                   Aplicación
                </p>
                La geomalla se ha utilizado ampliamente en la ingeniería de obras viales, ferroviarias, 
hidráulicas, marítimas y municipales, especialmente para el refuerzo de suelos
blandos, calzadas, presas y otros proyectos.
                 <ul>
                    <li>Refuerzo en vías del ferrocarril y el pavimento para aumentar efectivamente la resistencia 
                        de la calzada y prolongar la vida útil.
                        de plantas de tratamiento de lodos activados, SBR, aireación prolongada u otra modalidad.</li>
                    <li> Refuerzo y aislamiento de presa, ribera y talud y cauce en los proyectos hidráulicos 
                        para consolidar el terreno blando, reforzar la capacidad protectora y mejorar la 
                        capacidad portante y de cimentación.</li>
                    <li> Refuerzo del terraplén, pendiente, muro de contención, ensanchamiento de
                        carreteras, muro de contención ecológico. para reducir costos y mejorar la
                        estabilidad de la estructura.</li>
                 </ul>
                 <P>
                    Características
                    <ul>
                        <li>Alta tenacidad y resistente a la fluencia.</li>
                        <li>Resistente a la corrosión.</li>
                        <li>Resistente al envejecimiento.</li>
                    </ul>
                 </P>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Geomalla1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Geomalla2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Geocompuesto de alta resistencia</h2>
            <div class="col-balance">
                <p>
                <p>
                    Cuando la composición se realiza mediante 
                    tejido de urdimbre, el hilo de coser penetra 
                    repetidamente en el hilo de urdimbre y el hilo 
                    de trama y combina los tres elementos 
                    juntos. Entonces se alcanza alta tenacidad y 
                    bajo alargamiento. El geocompuesto de 
                    poliéster es un material multifuncional y un 
                    material base de alto nivel internacional y se 
                    puede utilizar como refuerzo y protección 
                    aislante.
                </p>
                 <P>
                    Características
                    <ul>
                        <li>Alta resistencia a la tracción y resistente a la corrosión.</li>
                        <li>Buena función anti-filtro y aislamiento.</li>
                        <li> La tela no tejida que es el sustrato es buena 
                            para deshidratar.</li>
                        <li> Resistente a los pinchazos y buena 
                            protección.</li>
                        <li>Resistencia a la abrasión y buena 
                            resistencia a la tracción para hacer refuerzo</li>
                    </ul>
                 </P>
                 <P>
                    Aplicaciones
                    <ul>
                        <li>Carreteras pavimentadas y sin pavimentar.</li>
                        <li>Plataformas de transferencia de carga 
                            sobre suelos saturados.</li>
                        <li>Vías férreas.</li>
                        <li>Estacionamientos.</li>
                        <li>Construcción del aeropuerto.</li>
                        <li>Refuerzo de asfalto.</li>
                    </ul>
                 </P>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Georefuerzo1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Georefuerzo2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Geotextil tejido PP</h2>
            <div class="col-balance">
                <p>
                <p>
                    El geotextil tejido PP está compuesto por hilos de polipropileno de alta tenacidad, que 
                    se tejen en una red de modo que los hilos conservan sus posiciones relativas. Es inerte 
                    a la degradación biológica y resistente a los álcalis y ácidos químicos que se encuentran de forma natural.
                    También se tejen para proporcionar una fuerza de refuerzo superior e interacción 
                    con el suelo integradas con un alto flujo de agua y capacidades de retención del suelo.
                </p>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Geotextil1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Geotextil2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

        <!-- <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Geotextil tejido PP</h2>
            <div class="col-balance">
                <p>
                <p>
                    El geotextil tejido PP está compuesto por hilos de polipropileno de alta tenacidad, que 
                    se tejen en una red de modo que los hilos conservan sus posiciones relativas. Es inerte 
                    a la degradación biológica y resistente a los álcalis y ácidos químicos que se encuentran de forma natural.
                    También se tejen para proporcionar una fuerza de refuerzo superior e interacción 
                    con el suelo integradas con un alto flujo de agua y capacidades de retención del suelo.
                </p>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Geotextil1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Geotextil2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section> -->

        <section class="contained row" id="analisis">
            <h2 class="section-title ff-damion"  style="text-shadow: 1px 1px 1px #3f3e3e;">Geomatress</h2>
            <div class="col-balance">
                <p>
                <p>
                    Los Geo Mattress están compuestos por partes que se rellenan de hormigón y áreas 
unificadas que permiten el establecimiento de vegetación. Una vez fraguado el hormigón, las áreas definidas sin relleno y entretejidas se abren cortando la tela y se plantan o se rellenan con tierra vegetal y se siembran.
Dentro de una temporada de crecimiento, una cubierta vegetal normalmente se 
extenderá sobre el revestimiento, lo que resultará en un sistema de control de erosión 
con las características hidráulicas, ecológicas y estéticas deseadas.
Lo Geo Mattress se instalan para brindar protección contra altos flujos de agua. 
Después de la instalación, se puede plantar vegetación dentro de la estructura abierta 
del revestimiento para crear una apariencia más natural. Los Geo mattress se utilizan en 
zanjas de drenaje y en las laderas superiores de canales, lagos de canales, embalses, 
ríos y otros cursos de agua, así como para terraplenes sujetos a fuertes escorrentías.
                </p>
                 <p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="Geomatress1.png" alt="" class="efecto1">
                    <img src="../svg/blob.svg" alt="" class="blob">
                    <img src="Geomatress2.png" alt="" class="efecto1">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>

    </main>

    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Encuentranos en:</h3>
                <a href="mailto:bioglobal.arg@gmail.com" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    bioglobal.arg@gmail.com
                </a>
                <a href="https://api.whatsapp.com/send?phone=5493415894605&text=Hola, Me gustaria obtener más información" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +549 341-5894605
                </a>
                <a href="https://maps.app.goo.gl/bd9juwoW5YUmSCrH9" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    Roberto Fontanarrosa 3800, S2126 Alvear, Santa Fe
                </a>
                <a href="https://www.instagram.com/bioglobal.arg/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Instagram 
                </a>
                <a href="https://www.linkedin.com/company/bio-global/posts/" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                    Linkedin
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Horarios de atención</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Lunes - Viernes
                    <span class="fw-normal display-block">8:00am - 17:00pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sabado y Domingo
                    <span class="fw-normal display-block">Cerrado</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion"  style="text-shadow: 1px 1px 1px #a5cda5;">Atajos</h3>
                <a href="../index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Inicio
                </a>
                <a href="../blog/blog-1.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Servicios
                </a>    
                <a href="../Efluentes.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Tratamiento de Efluentes Industriales 
                </a>    
                <a href="../Eficiencia Energetica y Agua.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Eficiencia Energética y Agua
                </a>
                <a href="../Energia Renovable.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Energía Renovable
                </a> 
                <a href="../blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Sers
                </a>
                <a href="Certificaciones.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Certificaciones
                </a>
                <a href="../Contacto.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contacto
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Bio Global - Desing by <a href="https://www.instagram.com/jonatanvila1/">Vila Jonatan </a> </small>
        </div>
    </footer>
    
</body>
</html>